fastapi
uvicorn
dotenv
langchain
langchain_groq
langserve
sse_starlette
ipykernel
langchain_community
transformers
langchain-chroma
langchain_huggingface
sentence_transformers
bs4
pypdf
wikipedia
arxiv
validators
youtube_transcript_api
unstructured
pytube
